<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellwatch.in | Tabs</title>
    <link rel="stylesheet"href="/static/css/tab_page.css">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'>
</head>
<body>
    <nav>
        <div id="navbar">
            <div class="tabs">
                <div class="logo1">
                    <a id="logo"href="/Home">Wellwatch.in</a>
                </div>
                <div class="events">
                    <a href="/Events" target="_self">Events</a>
                </div>
                <div class="tab_">
                    <a href="/Tabs" target="_self">Tabs</a>
                </div>
                <div class="contact">
                    <a href="/ContactUs" target="_self">Contact Us</a>
                </div>
                <div class="about us">
                    <a href="/AboutUs" target="_self">About Us</a>
                </div>
            </div>
            <div class="inputs">
                <div class="login">
                    <a href="/Info" target="_blank">My Info</a>
                </div>
                <div class="login">
                    <a href="/Logout" target="_blank">Log out</a>
                </div>
                <div class="profile">
                    <a href="/Profile"><i style="font-size: 25px;"class="fa-solid fa-user"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="hello_user">
            <h2 style="text-align: center;">Hello , {{Variable}}</h2>
            <h3 style="text-align: center;">What would you like to do today?</h3>
        </div>
        <div class="all_tabs">
            <div class="tab">
                <div class="tab_img">
                    <img class="tab_img"src="https://static.vecteezy.com/system/resources/previews/029/922/419/original/indikator-bmi-on-white-background-chart-concept-icon-vector.jpg">
                </div>
                <div class="tab_name">
                    <a href="/BMI">BMI</a>
                </div>
            </div>
            <div class="tab">
                <div class="tab_img">
                    <img class="tab_img"src="https://static-00.iconduck.com/assets.00/moon-sleep-icon-512x512-hwpf6qdk.png">
                </div>
                <div class="tab_name">
                    <a href="/Sleep">Sleep</a>
                </div>
            </div>
            <div class="tab">
                <div class="tab_img">
                    <img class="tab_img"src="https://p7.hiclipart.com/preview/842/828/49/footprint-computer-icons-clip-art-bmi.jpg">
                </div>
                <div class="tab_name">
                    <a href="/Weight">Weight</a>
                </div>
            </div>
            <div class="tab">
                <div class="tab_img">
                    <img class="tab_img"src="https://cdn-icons-png.freepik.com/512/7028/7028853.png">
                </div>
                <div class="tab_name">
                    <a href="/Exercise">Exercise</a>
                </div>
            </div>
            <div class="tab">
                <div class="tab_img">
                    <img class="tab_img"src="https://static.vecteezy.com/system/resources/previews/009/247/670/original/blood-pressure-outline-icon-free-vector.jpg">
                </div>
                <div class="tab_name">
                    <a href="/BP">BP</a>
                </div>
            </div>
            <div class="tab">
                <div class="tab_img">
                    <img class="tab_img"src="https://www.iconpacks.net/icons/2/free-water-icon-1542-thumb.png">
                </div>
                <div class="tab_name">
                    <a href="/Water">Water</a>
                </div>
            </div>     
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="logo_name">
               
                <div class="name">
                    <h2 style="font-family: cursive;">Wellwatch</h2>
                </div>
            </div>
            <div class="links">
                <div class="aboutlinks">
                    <ul class="about">
                        <li><a style="text-decoration:none;" href="/AboutUs">About Us</a></li>
                        <li><a href="/ContactUs">Contact Us</a></li>
                    </ul>
                </div>
                <div class="aboutlinks">
                    <ul class="about">
                        <li>Your Privacy & Security</li>
                        <li>Privacy Policy</li>
                        <li>Terms & Services</li>
                    </ul>
                </div>
            </div>
            <div class="social_media">
                <a href="mailto:hello@wellwatch.com">hello@wellwatch.com</a> 
                <div class="socialmedia_links">
                    <div class="insta">
                        <img id="insta"src="https://cdn.pixabay.com/photo/2016/08/09/17/52/instagram-1581266_640.jpg">
                    </div>
                    <div class="twitter">
                        <img id="twitter"src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-twitter-social-media-round-icon-png-image_6315985.png">
                    </div>
                </div>
            </div>
            <p id="copyright">Copyright ® 2024 Wellwatch, Inc. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>