<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Wellwatch.in | Weight Tracker </title>
    <link rel="stylesheet" href="/static/css/weight.css">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'>
</head>
<body>
    <nav>
        <div id="navbar">
            <div class="tabs">
                <div class="logo1">
                    <a id="logo"href="/Home">Wellwatch.in</a>
                </div>
                <div class="events">
                    <a href="/Events" target="_blank">Events</a>
                </div>
                <div class="tab_">
                    <a href="/Tabs" target="_blank">Tabs</a>
                </div>
                <div class="contact">
                    <a href="/ContactUs" target="_blank">ContactUs</a>
                </div>
                <div class="about us">
                    <a href="/AboutUs" target="_blank">About Us</a>
                </div>
            </div>
            <div class="inputs">
                <div class="login">
                    <a href="/Info" target="_blank">My Info</a>
                </div>
                <div class="login">
                    <a href="/Logout" target="_blank">Log out</a>
                </div>
                <div class="profile">
                    <a href="/Profile"><i style="font-size: 25px;"class="fa-solid fa-user"></i></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="form">
        <h1>Weight gain/loss Tracker</h1>
        <form action="#" method="POST">
            {% csrf_token %}
            {% load static %}
            <fieldset style="border: 2px solid rgb(255, 255, 255); border-radius:5px;position:absolute; left:40px; width:600px; background-color: rgb(255, 255, 255);">
            <label style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" for="sleep">Weight(Kg):</label>
            <input type="text" id="weight" name="weight"><br>
            <br>
            <label style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"for="date">Date:</label>
            <input type="date" id="date" name="date"><br>
            <br>
            <input class="btn"type="submit" onclick="alert('Details Submitted')">
        </form>
    </div>
    <div class='graph'>
        <img src="data:image/png;base64,{{ graph }}" alt="Sleep tracking graph">
    </div>
    <br>
    <br>
    <br>
    <br>
    <footer>
        <div class="footer">
            <div class="logo_name">
                
                <div class="name">
                    <h2 style="font-family: cursive;">Wellwatch</h2>
                </div>
            </div>
            <div class="links">
                <div class="aboutlinks">
                    <ul class="about">
                        <li><a style="text-decoration:none;" href="/AboutUs">About Us</a></li>
                        <li><a href="/ContactUs">Contact Us</a></li>
                    </ul>
                </div>
                <div class="aboutlinks">
                    <ul class="about1">
                        <li>Your Privacy & Security</li>
                        <li>Privacy Policy</li>
                        <li>Terms & Services</li>
                    </ul>
                </div>
            </div>
            <div class="social_media">
                <a href="mailto:hello@wellwatch.com">hello@wellwatch.com</a> 
                <div class="socialmedia_links">
                    <div class="insta">
                        <img id="insta"src="https://cdn.pixabay.com/photo/2016/08/09/17/52/instagram-1581266_640.jpg">
                    </div>
                    <div class="twitter">
                        <img id="twitter"src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-twitter-social-media-round-icon-png-image_6315985.png">
                    </div>
                </div>
            </div>
            <p id="copyright">Copyright ® 2024 Wellwatch, Inc. All Rights Reserved</p>
        </div>
    </footer>

</body>
</html>